// Site set-up

// Site Wide Colours
$brand: #88adc9;
$brand-white: #fff;
$background-color: $brand-white;
$base-text-color: #6D6E71;

$base-text-align: left; // switch for rtl
$base-font-family: 'Lato', Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;

$site-max-width: 640px;

$type-sz-1: 2.625rem;
$type-sz-2: 1.75rem;
$type-sz-3: 1.3125rem;
$type-sz-4: 1.125rem;
$type-sz-5: 1rem;
$type-sz-6: .875rem;

$space: 1em;

$link-color: $brand;
$link-color-hover: darken($brand, 15%);
