// Base

html {
  color: $base-text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  background: $background-color;
}

::selection,
::-moz-selection {
  background-color: $brand;
  text-shadow: none;
}

// Links

a {
  color: $link-color;
  text-decoration: none;

  :hover,
  :focus,
  :active {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

// Images
img {
  max-width: 100%;
}

/* Typography
 ========================================================================== */

.hx {
  margin: 1em 0;
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  @extend .hx;
  margin: 0;
  font-size: $type-sz-1;
}

h2 {
  @extend .hx;
  margin: 1em 0 0.75em;
  font-size: $type-sz-2;
}

h3 {
  @extend .hx;
  font-size: $type-sz-3;
}

h4 {
  @extend .hx;
  font-size: $type-sz-4;
}
h5 {
  @extend .hx;
  font-size: $type-sz-5;
}

h6 {
  @extend .hx;
  font-size: $type-sz-6;
  color: #777;
}

small {
  font-size: 75%;
}

// Block-level margins

p, blockquote, ul, ol, dl, menu, pre {
  margin: 0 0 $base-line-height + em;
}

/* Lists
 ========================================================================== */

ul,
ol {
  padding-left: 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul {
  padding: 0;
  margin: 0 0 .75em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 30px;
}
