@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\000033}}
article, aside,
dialog, figure,
footer, header,
hgroup, menu,
nav, section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000311}}
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #6D6E71;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000321}}
body {
  background: #ccc;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000326}}
::selection,
::-moz-selection {
  background-color: #006199;
  text-shadow: none;
}

/* Links
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000335}}
a {
  color: #006199;
  text-decoration: none;
}

/* Addresses outline displayed oddly in Chrome */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000342}}
a:focus {
  outline: thin dotted;
}

/* Improves readability when focused and also mouse hovered in all browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000348}}
a:hover,
a:active {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000353}}
a:hover,
a:focus,
a:active {
  color: #00304d;
  text-decoration: underline;
}

/*
 * 1. Allows images to undergo proportional down-scaling within a container
 * 2. Removes border when inside 'a' element in IE8/9, FF3
 * 3. Removes excess space below inline images
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000366}}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

/* Lists
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000376}}
ul,
ol {
  padding-left: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000381}}
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000388}}
dt {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000392}}
dd {
  margin-left: 30px;
}

/* Tables
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\0000399}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\00003108}}
.hx, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, .h1-l, .h1-xl {
  margin: 1em 0;
  line-height: 1.1;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\00003114}}
h6, .h6 {
  font-size: 0.875em;
  color: #777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\00003120}}
h5, .h5 {
  font-size: 0.875em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\00003125}}
h4, .h4 {
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\00003130}}
h3, .h3 {
  font-size: 1.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\00003135}}
h2, .h2 {
  margin: 1em 0 0.75em;
  font-size: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\00003141}}
h1, .h1 {
  margin: 0 0 0.75em;
  font-size: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\00003147}}
.h1-l, .h1-xl {
  margin: 0 0 0.5em;
  font-size: 3.375em;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\00003154}}
.h1-xl {
  margin: 0 0 0.5em;
  font-size: 4.5em;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\00003161}}
small,
.txt-s {
  font-size: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\00003166}}
.txt-xl {
  font-size: 1.5em;
}

/*
 * Block-level margins
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_base\.scss}line{font-family:\00003174}}
p, blockquote, ul, ol, dl, menu, pre {
  margin: 0 0 1.4em;
}

/* Clearfix
   ========================================================================== */
/* ClearFix - Ref: nicolasgallagher.com/micro-clearfix-hack/ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\000035}}
.cf {
  zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\000038}}
.cf:before,
.cf:after {
  content: "";
  display: table;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000314}}
.cf:after {
  clear: both;
}

/* Media object
   ========================================================================== */
/* Media Block - Ref: www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000322}}
.media {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000326}}
.media .img {
  float: left;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000331}}
.media .body {
  overflow: hidden;
  margin-bottom: 0;
}

/* Horizontal block
   ========================================================================== */
/*Hoz Block (Horizontal) - Ref: http://csswizardry.com/2011/09/the-nav-abstraction/ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000341}}
.hoz {
  list-style: none;
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000346}}
.hoz,
.hoz dd {
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000351}}
.hoz li,
.hoz dt,
.hoz dd {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000357}}
.hoz a {
  display: inline-block;
}

/* Hidden
   ========================================================================== */
/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000366}}
.hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Contain
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000376}}
.contain {
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Pusher
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000387}}
.push {
  margin: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000388}}
.push--top {
  margin-top: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000389}}
.push--right {
  margin-right: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000390}}
.push--bottom {
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000391}}
.push--left {
  margin-left: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bradleyfew\/Projects\/comcom\/assets\/styles\/sass\/Base\/_helpers\.scss}line{font-family:\0000392}}
.push--zero {
  margin: 0;
}

/* Component
   ========================================================================== */
/* Modules
   ========================================================================== */
/* Call in the largest query for browsers that do not support media queries. */

/*# sourceMappingURL=ie.css.map */
