// Header

@import "../setup";

.site-head {
  background: #367ca9;
  background: -moz-linear-gradient(top,  #367ca9 0%, #7285b4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#367ca9), color-stop(100%,#7285b4));
  background: -webkit-linear-gradient(top,  #367ca9 0%,#7285b4 100%);
  background: -o-linear-gradient(top,  #367ca9 0%,#7285b4 100%);
  background: -ms-linear-gradient(top,  #367ca9 0%,#7285b4 100%);
  background: linear-gradient(to bottom,  #367ca9 0%,#7285b4 100%);

  color: #fff;
  text-align: center;
  padding: 4em 0 2em;
  position: fixed;
  top: 0;
  min-height: 30em;
  width: 100%;
}

.site-brand {
  background: rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: .25rem;
  display: inline-block;
  font-size: 1.75em;
  line-height: 1;
  padding: .5em;
}

//temp
.site-head h2 {
  font-size: 5em;
  font-weight: 100;
}
