/* Clearfix
   ========================================================================== */
 
/* ClearFix - Ref: nicolasgallagher.com/micro-clearfix-hack/ */
.cf {
	zoom:1;
}
.cf:before,
.cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}

/* Media object
   ========================================================================== */
   
/* Media Block - Ref: www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
.media {
	display:block;
}

.media .img {
	float:left;
	margin-right:10px;
}

.media .body {
	overflow:hidden;
	margin-bottom:0;
}


/* Horizontal block
   ========================================================================== */

/*Hoz Block (Horizontal) - Ref: http://csswizardry.com/2011/09/the-nav-abstraction/ */
.hoz {
	list-style:none;
	padding-left:0;
}

.hoz,
.hoz dd {
	margin-left:0;
}

.hoz li,
.hoz dt,
.hoz dd {
	display:inline;
}

.hoz a {
	display:inline-block;
}


/* Hidden
   ========================================================================== */

/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
.hidden {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


/* Contain
   ========================================================================== */
   
.contain {
    max-width: $site-max-width;
    padding: 0 10px;
    margin: 0 auto;
}



/* Pusher
   ========================================================================== */

.push { margin: $space; }
.push--top { margin-top: $space; }
.push--right { margin-right: $space; }
.push--bottom { margin-bottom: $space; }
.push--left { margin-left: $space; }
.push--zero { margin: 0; }