<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <title>{{ page.title }}</title>
    <meta name="author" content="sirbrad" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
<body>
  {% include header.html %}
  <main class="site-body contain">
    {{ content }}
  </main>
  {% include footer.html %}
  <script src="/assets/javascripts/base.js"></script>
</body>
</html>
